@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.app-area {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	min-height: 100dvh;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
}

.nav-area {
	display: flex;
	align-items: center;
	gap: 10px;

	span {
		margin-left: auto;
	}

	button {
		border: none;
		background: black;
		border-radius: 2px;
		color: white;
		padding: 6px 10px;
		cursor: pointer;
	}

	.lg-none {
		display: none;
	}
	@media (width < 769px) {
		.sm-none {
			display: none;
		}

		.lg-none {
			display: block;
		}
	}
}

.counter-area {
	display: grid;
	place-content: center;
	gap: 20px;
}

.login-area {
	display: grid;
	gap: 10px;
	width: 100%;
	max-width: 400px;
	margin: auto;
	input {
		padding: 4px;
	}

	button {
		border: none;
		background: black;
		border-radius: 2px;
		color: white;
		padding: 6px 10px;
		cursor: pointer;
	}
}

.counter-input-area {
	display: grid;
	place-content: center;
	gap: 6px;
	input {
		padding: 6px;
	}
}

.counter-btns {
	display: flex;
	gap: 6px;
	button {
		border: none;
		background: black;
		border-radius: 2px;
		color: white;
		padding: 6px 10px;
		cursor: pointer;
	}
}

.dynamic-area {
	display: flex;
	align-items: stretch;
	border: 2px solid #dfdfdf;
	border-radius: 2px;
	overflow: hidden;
	justify-content: space-between;
	input {
		border: none;
		flex-grow: 1;
	}
	button {
		padding: 6px;
		border: none;
		background: black;
		color: white;
		cursor: pointer;
	}
}

.counter-value {
	text-align: center;
}
